## 4.6 Merging and exporting data_2

### This script contains the following points:

#### 1. Import the data
#### 2. Merge data
#### 3. Exporting the data

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [2]:
#Importing the necessary data sets for the task.
#Creating a path for the import of data.
path = r'/Users/daniel/Desktop/LEBEN/Data Analyst/Data Analytics Course/Data Immersion/Achievement 4/Master Folder - Instacart Basket Analysis 09.09.2024'

In [3]:
#Importing the orders_products_combined data from the prepared data folder
df_ords_prods_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

#### 2. Merge data

In [84]:
#Check the shape of the dataset and if it is identical to the shape when exported.
df_ords_prods_combined.shape

(32434489, 10)

In [24]:
#Importing the products_cleaned data from the prepared data folder
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_cleaned.csv'), index_col=0)

In [86]:
#Check if the import was executed correctly
df_prods.shape

(49672, 5)

In [46]:
#Rename the indicator column of the previous merge.
df_ords_prods_combined.rename(columns={'_merge': 'previous_merge'}, inplace=True)

In [68]:
#Merge the two data sets df_ords_prior and df_ords to df_merged_large by using an inner join.
df_merged_large = df_ords_prods_combined.merge(df_prods, on = 'product_id', how = 'inner', indicator = True)

In [74]:
#Drop the column 'unnamed 0' which is unnecessary for further analysis.
df_merged_large = df_merged_large.drop(columns=['previous_merge'])

In [76]:
#Check the shape of the data frame to confirm the number of rows and columns after merging
df_merged_large.shape

(32404859, 14)

In [78]:
df_merged_large

,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,0.0,196,1,0,Soda,77,7,9.0,both
1,2539329,1,1,2,8,0.0,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both
2,2539329,1,1,2,8,0.0,12427,3,0,Original Beef Jerky,23,19,4.4,both
3,2539329,1,1,2,8,0.0,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both
4,2539329,1,1,2,8,0.0,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,2977660,206209,13,1,12,7.0,14197,5,1,Tomato Paste,9,9,5.6,both
32404855,2977660,206209,13,1,12,7.0,38730,6,0,Brownie Crunch High Protein Bar,3,19,5.9,both
32404856,2977660,206209,13,1,12,7.0,31477,7,0,High Protein Bar Chunky Peanut Butter,3,19,4.2,both
32404857,2977660,206209,13,1,12,7.0,6567,8,0,Chocolate Peanut Butter Protein Bar,3,19,4.9,both
32404858,2977660,206209,13,1,12,7.0,22920,9,0,Roasted & Salted Shelled Pistachios,117,19,1.7,both

In [80]:
df_merged_large['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

##### Comment: Due to using an inner join, the output reflects that the key specified exist in both dataframes

#### 3. Exporting the data

In [92]:
#Exporting the merged data frame to a pkl format
df_merged_large.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge.pkl'))